* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka One';
    background-color: #ffffff;
    padding: 50px 0;
    max-width: 1000px;
    margin: 0 auto;

}

.title{
    text-align: center;
    color: rgb(116, 16, 54);
}

#lorem{
    text-align: center;
    font-size: 13px;
}

.container {
    text-align: center; /* necesario para la class .center */
    margin-top: 50px;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
    
  }
  .left {
    float: left;
    color: white;
    background-color: #1b165c;
    width: 300px;
    height: 150px;
  }
  .center {
    margin: 0 auto;
    display: inline-block;
    color: white;
    background-color: #1b165c;
    width: 300px;
    height: 150px;
  }
  .right {
    float: right;
    color: white;
    background-color: #1b165c;
    width: 300px;
    height: 150px;
  }

  .riga2{
    margin-top: 50px;
  }







